server:
  port: 8001
  # Interface : localhost:15672
  # Rabbit Servidor
  rabbitmq:
    host: localhost
    port: 5672
    # User
    username: guest
    password: guest
    # Nome do Exchanges
    template:
      exchange: projeto.mba.fiap
      # RoutingKey -> Representa A Queue que a Exchange esta enviado
      routing-key: queue.producer.mba
      # deadletter para controlle de errros , para poder reprocessar no momento em que a aplicacao for corrigida
deadletter.producer=dl.producer.mba.queueDeadLetter

